body {
    background-color: var(--black-color);
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content_paypal a {
    color: var(--white-color);
    text-decoration: none;
}
.content_paypal a:hover {
    cursor: pointer;
    color: var(--gren-color);
}